<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:OldLace">
<center><h2 style="color:DarkRed">Register here,</h2>
 </center>
<form align="center" action="" method="post" >
    {% csrf_token %}
    <input type="text" name="Username" placeholder="Enter User Name"><br><br>
    <input type="text" name="First_name" placeholder="Enter First Name"><br><br>
    <input type="text" name="Last_name" placeholder="Enter Last Name"><br><br>
    <input type="email" name="email" placeholder="Enter Email"><br><br>
    <input type="password" name="Password" placeholder="Enter Password"><br><br>
    <input type="password" name="Password1" placeholder="confirm Your Password"><br><br>
    <input type="submit">

</form>
{% for msg in messages %}
<center> <h2>{{msg}}</h2></center>
{% endfor %}
</body>
</html>